<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AppointmentsServlet</display-name>
    <servlet-name>AppointmentsServlet</servlet-name>
    <servlet-class>AppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentsServlet</servlet-name>
    <url-pattern>/AppointmentsServlet</url-pattern>
  </servlet-mapping>
  <jsp-config/>
  <display-name>pwe-finalproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAppointmentServlet</display-name>
    <servlet-name>CreateAppointmentServlet</servlet-name>
    <servlet-class>CreateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAppointmentServlet</servlet-name>
    <url-pattern>/appointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePatientsServlet</display-name>
    <servlet-name>ManagePatientsServlet</servlet-name>
    <servlet-class>ManagePatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePatientsServlet</servlet-name>
    <url-pattern>/manage-patients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServlet</display-name>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <servlet-class>UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <url-pattern>/updateAppointment</url-pattern>
  </servlet-mapping>
</web-app>